---
---
@import "{{ site.theme }}";

a:hover {
    font-weight: inherit;
}

/*border on embedded images*/
body section img{
    border: 1px solid #888
}

/*Text color for IRC logs in story*/

p span.red {
    color: red;
}
p span.green {
    color: lightgreen;
}
p span.orange {
    color: orange;
}
p span.grey {
    color: #ddd;
}
.night p span.grey {
    color: #333;
}

div.hangingindent p{
  padding-left: 22px ;
  text-indent: -22px ;
}

/* Night Mode */

body.night {
  background-color: #000;
  color:#ddd;
}

.night h1,
.night h2,
.night h3,
.night h4,
.night h5,
.night h6 {
  color:#ddd;
}


.night a {
  color:#6699ff;
}

.night a:hover,
.night a:focus {
  color:#0055ff;
}

.night a small {
  color:#6699ff;
}

.night a:hover small {
  color:#0055ff;
}

.night code,
.night pre {
    color:#ccc;
}

.night pre {
  background: #070707;
}


.night th,
.night td {
  border-bottom:1px solid #111;
}

.night dt {
  color:#bbb;
}

.night th {
  color:#bbb;
}

.night ul.downloads {
  background: #0b0b0b;
  border:1px solid #1f1f1f;
}

.night .downloads li {
  border-right:1px solid #1f1f1f;
}

.night .downloads a {
  color:#989898;
}

.night .downloads a:hover, 
.night .downloads a:focus {
  color:#98a3a3;
}

.night .downloads ul a:active {
  background-color:#0f0f0f;
}

.night strong {
  color:#ddd;
}

.night .downloads a strong {
  color:#ddd;
}

.night hr {
  background:#1a1a1a;
}

@media print, screen and (max-width: 960px) {
  .night section {
    border:1px solid #111;
  }
}

@media print {
  body {
    color:#bbb;
  }
}

/* float the footer to the bottom if the screen is too short */

@media print, screen and (max-height: 800px) and (min-width: 961px) {
    footer {
        float:none;
        position: static;
        width: calc(100% - 360px);
        margin-left: 360px;
    }
}
