---
---
@import "{{ site.theme }}";

a:hover {
    font-weight: inherit;
}

/*border on embedded images*/
body section img{
    border: 1px solid #888
}



/* Night Mode */

body.night {
  background-color: #000;
  color:#ddd;
}

.night h1,
.night h2,
.night h3,
.night h4,
.night h5,
.night h6 {
  color:#ddd;
}


.night a {
  color:#6699ff;
}

.night a:hover,
.night a:focus {
  color:#0055ff;
}

.night a small {
  color:#6699ff;
}

.night a:hover small {
  color:#0055ff;
}

.night code,
.night pre {
    color:#ccc;
}

.night pre {
  background: #070707;
}


.night th,
.night td {
  border-bottom:1px solid #111;
}

.night dt {
  color:#bbb;
}

.night th {
  color:#bbb;
}

.night ul.downloads {
  background: #0b0b0b;
  border:1px solid #1f1f1f;
}

.night .downloads li {
  border-right:1px solid #1f1f1f;
}

.night .downloads a {
  color:#989898;
}

.night .downloads a:hover, 
.night .downloads a:focus {
  color:#98a3a3;
}

.night .downloads ul a:active {
  background-color:#0f0f0f;
}

.night strong {
  color:#ddd;
}

.night .downloads a strong {
  color:#ddd;
}

.night hr {
  background:#1a1a1a;
}

@media print, screen and (max-width: 960px) {
  .night section {
    border:1px solid #111;
  }
}

@media print {
  body {
    color:#bbb;
  }
}

/*night mode switch*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* float the footer to the bottom if the screen is too short */

@media print, screen and (max-height: 800px) and (min-width: 960px) {
    footer {
        float:none;
        position: static;
        width: calc(100% - 360px);
        margin-left: 360px;
    }
}
