---
---
@import "{{ site.theme }}";

a:hover {
    font-weight: inherit;
}

/*border on embedded images*/
body section img{
    border: 0px
}

/*Text color for IRC logs in story*/

span.red {
    color: red;
}
span.green {
    color: limegreen;
}
span.orange {
    color: orange;
}
span.grey {
    color: #aaa;
}
.night span.grey {
    color: #555;
}

/*Styling for text messages in story*/
p[class^="iostext-"] {
    color:white;
    border-radius:7px;
    padding: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.iostext-me {
    background-color:grey;
    width: 200px;
    text-align: right;
    margin-left: calc(100% - 200px);
}
p.iostext-other {
    background-color:blue;
    margin-right: calc(100% - 200px);
    text-align: left;
}


/* Night Mode */

body.night {
  background-color: #000;
  color:#ddd;
}

.night h1,
.night h2,
.night h3,
.night h4,
.night h5,
.night h6 {
  color:#ddd;
}


.night a {
  color:#6699ff;
}

.night a:hover,
.night a:focus {
  color:#0055ff;
}

.night a small {
  color:#6699ff;
}

.night a:hover small {
  color:#0055ff;
}

.night code,
.night pre {
    color:#ccc;
}

.night pre {
  background: #070707;
}


.night th,
.night td {
  border-bottom:1px solid #111;
}

.night dt {
  color:#bbb;
}

.night th {
  color:#bbb;
}

.night ul.downloads {
  background: #0b0b0b;
  border:1px solid #1f1f1f;
}

.night .downloads li {
  border-right:1px solid #1f1f1f;
}

.night .downloads a {
  color:#989898;
}

.night .downloads a:hover, 
.night .downloads a:focus {
  color:#98a3a3;
}

.night .downloads ul a:active {
  background-color:#0f0f0f;
}

.night strong {
  color:#ddd;
}

.night .downloads a strong {
  color:#ddd;
}

.night hr {
  background:#1a1a1a;
}

@media print, screen and (max-width: 960px) {
  .night section {
    border:1px solid #111;
  }
}

@media print {
  body {
    color:#bbb;
  }
}

/* float the footer to the bottom if the screen is too short */

@media print, screen and (max-height: 800px) and (min-width: 961px) {
    footer {
        float:none;
        position: static;
        width: calc(100% - 360px);
        margin-left: 360px;
    }
}
