<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120232192-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-120232192-1');
    </script>
    
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />

    {% if page.series_title %}
    <title>{{ page.series_title }} - {{ page.title | default: "Captain Metaphor" }}</title>
    {% else %}
    <title>{{ page.title | default: "Captain Metaphor" }}</title>
    {% endif %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
	{% if page.night %}
    <script>
      function nightToggle() {
        //toggle night mode
        var toggle = document.getElementById("night-toggle");
        var page = document.getElementById("body");
        if (toggle.checked == true){
          page.classList.add("night");
          setCookie("NightMode","true",365);
        }
        else {
          page.classList.remove("night");
          setCookie("NightMode","false",365);
        }
      }
    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
      
    function setCookie(cname, cvalue, exdays) {
      var d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      var expires = "expires="+ d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
      
    function checkNightMode() {
      var nightMode = getCookie("NightMode");
      if (nightMode != "") {
        if (nightMode == "true"){
          document.getElementById("night-toggle").checked = true;
        }
        else {
          document.getElementById("night-toggle").checked = false;
        }
        nightToggle();
      }
      else {
        setCookie("NightMode","false",365);
      }
    }
    </script>
	  {% endif %}
  </head>
  <body id="body" onload="checkNightMode()">
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">Captain Metaphor</a></h1>
        
		<p><a href="https://patreon.com/captainmeta4">Patreon</a></p>
		  
	    {% if page.night %}
        <input id="night-toggle" type="checkbox" onClick="nightToggle()"></input>
        <label for="night-toggle">Night Mode</label>
		{% endif %}
		
        {% if page.collection %}
	    <p></p>
	    <hr>
        <p><a href="{{ page.series_url }}">← {{ page.series_title}}</a></p>
		{% if page.chapter %}
			<p>{% if page.chapter >= 3 %}<a href="./1">First</a> | {% endif %}{% if page.chapter >= 2 %}<a href="./{{ page.chapter | minus: 1 }}">Previous</a>{% endif %}{% unless page.final %}{% unless page.chapter == 1 %} | {% endunless %}<a href="./{{ page.chapter | plus: 1}}">Next</a>{% endunless %}</p>
		{% endif %}
	    	{% if page.reddit %}
	    		<p><a href="http://redd.it/{{ page.reddit }}">Discuss {{page.title}} on reddit</a></p>
		{% endif %}
        {% endif %}

      </header>
      <section>
      


      {{ content }}

      </section>
      <footer>
        {% if page.discord %}
        <iframe id="discord-widget" src="https://discordapp.com/widget?id=449916896117129237&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0"></iframe>
        {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
