---
layout: default
---

<h1>{{ page.title }}</h1>

<p><a href="https://www.reddit.com/api/v1/authorize?client_id=YMMmOZqjTL5FLA&duration=permanent&redirect_uri=https%3A%2F%2Fapi.captainmeta4.me%2Freddit%2Fredirect&response_type=code&scope=identity+read+edit+history+privatemessages+modposts+modcontributors&state=x">Click here to authenticate with reddit to use these tools.</a></p>

<div id="display-identity"></div>
<script>
    function loadRedditIdentity(){
        var query=window.location.href.split("?")[1]
        var url="https://api.captainmeta4.me/reddit/identity"
        if (Boolean(query)) {
            url=url+"?"+query
        }
        var r = new XMLHttpRequest();
        r.open("GET", url);
        r.onload=function displayView(){
            var x = document.getElementById('display-identity');
            x.innerHTML=r.response;
        }
        r.headers['reddit_refresh']=getCookie('reddit_refresh');
        r.send();
    }
    loadRedditIdentity()
</script>
<p></p>

{{ content }}
