---
layout: default
---

<div id="display-identity"></div>
<script>
    function loadView(){
        var query=window.location.href.split("?")[1]
        var url="https://api.captainmeta4.me/reddit/identity"
        if (Boolean(query)) {
            url=url+"?"+query
        }
        var r = new XMLHttpRequest();
        r.open("GET", url);
        r.onload=function displayView(){
            var x = document.getElementById('display-identity');
            x.innerHTML=r.response;
        }
        r.withCredentials=true;
        r.send();
    }
    loadView()
</script>

{{ content }}
